aio-pika
aioboto3
aiohappyeyeballs
aiohttp
aiormq
aiosignal
annotated-types
anyio
attrs
Authlib
backports.tarfile
beautifulsoup4
beartype
cachetools
certifi
cffi
charset-normalizer
click
colorama
cryptography
cyclopts
selenium
dataclasses-json
diskcache
dnspython
docstring_parser
docutils
email-validator
exceptiongroup
faiss-cpu
fastapi
filelock
filetype
frozenlist
fsspec
greenlet
grpcio
grpcio-status
h11
hf-xet
httpcore
httplib2
httptools
httpx
httpx-sse
huggingface_hub
idna
importlib_metadata
orjson
passlib
pydantic
pydantic-settings
pydantic_core
pydeps
Pygments
PyJWT
PyMySQL
pyparsing
pypdf
pyperclip
pysbs
python-dotenv
python-multipart
PyYAML
redis
referencing
requests
requests-toolbelt
rich
rich-rst
rpds-py
rsa
SCons
shellingham
sniffio
SQLAlchemy
sse-starlette
starlette
stdlib-list
tenacity
tqdm
typer-slim
typing-inspect
typing-inspection
typing_extensions
uritemplate
urllib3
uuid_utils
uvicorn
watchfiles
websockets
yarl
zipp
zstandard
